

body {
	position: absolute;
	top: 0;
	bottom: 0;
	overflow: none;
	/*font-family: "Georgia", sans-serif;*/
	font-family: "Times New Roman", sans-serif;
	display: -webkit-flex;
   	display: flex;
   	-webkit-flex-direction: row;
   	flex-direction: row;
   	-webkit-align-items: center;
   	align-items: center;
}

.container {
	height: 100%;
	display: block;
	width: 50%;
	/*overflow-y: scroll;*/
}
#chart-wrapper {
	/*order: 2;*/
	border-right: 2px solid darkred;
}
h3, h2 {
	/*font-family: "Roboto";*/
	font-weight: normal;
	margin-right: 1em;
	/*font-size: 1.25em;*/
	margin-bottom: 1em;
	text-align: center;
}
#description{
	height: 90%;
	position: relative;
	line-height: 1.5em;
	margin: 2.25em;
	padding: 1em;
	margin-top: 0em;
	padding-top: 0em;
	overflow-y: scroll;
	z-index: 4;
}
#description p {
	/*font-family: "Crimson Text", sans-serif;*/
	font-size: 1.05em;
	margin-bottom: 1em;
	margin-top: 1em;
}
a {
	color: steelblue;
	text-decoration: none;
}
a:hover {
	text-decoration: underline;
}
#obfuscate {
/*			position: fixed;
	height: 2em;
	background-color: white;
	box-shadow: 1;
	opacity: 0.9;
	left: 52%;
	bottom: 3.5em;
	right: 1.5em;
	z-index: 5;*/
}
.axis {
	/*font-family: Helvetica, sans-serif;*/
	font-size: 12px;
}

.axis path,
.axis line {
	fill: none;
	stroke: #000;
	shape-rendering: crispEdges;
}

.line {
	fill: none;
	/*stroke: steelblue;*/
	stroke: darkred;

	stroke-width: 1.75px;
}

.overlay {
  	fill: none;
  	pointer-events: all;
}

.focus line, .focus circle {
/*		  	fill: steelblue;
  	stroke: steelblue;*/
	stroke: darkred;
}
.focus circle {
	fill: none;
}

.info {
	margin: 2em 70px 2em 60px;
	font-size: 16px;
}
#update {
	width: 16em;
	margin-left: auto;
	margin-right: auto;
	margin-top: 2em;
	margin-bottom: 2em;
	cursor: pointer;
	background-color: white;
	border: 1px solid darkred;
	outline: 0;
	display: block;
	font-size: 12px;
	color: darkred;
}
#update:hover{
	color: black;
	border: 1px solid black;
}
