body {
	position: absolute;
	top: 0;
	bottom: 0;
	overflow: none;
	/*font-family: "Georgia", sans-serif;*/
	font-family: "Noticia Text", serif;
	
	display: -webkit-flex;
   	display: flex;
   	-webkit-flex-direction: row;
   	flex-direction: row;
   	-webkit-align-items: center;
   	align-items: center;
}

.container {
	height: 100%;
	/*display: block;*/
	width: 48%;
	/*overflow-y: scroll;*/
}
#chart-wrapper {
	/*order: 2;*/
	/*font-family: "Helvetica Neue", Helvetica, sans-serif;*/
	margin: 0 auto;
	border-right: 2px solid darkred;
	display: -webkit-flex;
   	display: flex;
   	-webkit-flex-direction: column;
   	flex-direction: column;
   	-webkit-align-items: center;
   	align-items: center;
}

h3, h2 {
	font-size: 22px;
	font-family: "PT Sans", serif;
	margin-right: 1em;
	margin-bottom: 1em;
	text-align: center;
}
#description{
	height: 90%;
	position: relative;
	line-height: 1.5em;
	margin: 2.25em;
	padding: 1em;
	margin-top: 0.5em;
	padding-top: 0em;
	overflow-y: scroll;
	z-index: 4;
}
#description p {
	/*font-family: "Crimson Text", sans-serif;*/
	font-size: 14px;
	margin-bottom: 1em;
	margin-top: 1em;
}
a {
	color: steelblue;
	text-decoration: none;
}
a:hover {
	text-decoration: underline;
}

.axis {
	/*font-family: Helvetica, sans-serif;*/
	font-size: 16px;
}

.axis path,
.axis line {
	fill: none;
	stroke: #000;
	shape-rendering: crispEdges;
}

.line {
	fill: none;
	/*stroke: steelblue;*/
	stroke: darkred;

	stroke-width: 1.75px;
}

.overlay {
  	fill: none;
  	pointer-events: all;
}

.focus line, .focus circle {
/*		  	fill: steelblue;
  	stroke: steelblue;*/
	stroke: darkred;
}
.focus circle {
	fill: none;
}

.info {
	margin-left: 4em;
	margin-right: 3em;
	font-size: 16px;
}
#update {
	width: 16em;
	margin-left: auto;
	margin-right: auto;
	margin-top: 2em;
	margin-bottom: 2em;
	cursor: pointer;
	background-color: white;
	border: 1px solid darkred;
	outline: 0;
	display: block;
	font-size: 1em;
	color: darkred;
}
#update:hover{
	color: black;
	border: 1px solid black;
}

@media screen and (max-width: 1150px) {
	body {
		-webkit-flex-direction: column;
   		flex-direction: column;
/*   		-webkit-justify-content: space-between;
   		justify-content: space-between;*/
   		bottom: auto;
	}
	p {
		font-size: 10px;
	}
	h2, h3 {
		font-size: 16px;
	}
	#chart-wrapper {
	/*order: 2;*/
		border-right: none;
		border-bottom: 2px solid darkred;
	}
	.container {
		width: 100%;
		display: block;
	}
	#description {
		height: 100%;
		/*overflow: hidden;*/
	}
}
