body {
	background-color: whitesmoke;
	color: black;
}

.blurb-wrapper {
	display: block;
	font-family: "Lyon Text",Georgia,Times,serif;
	line-height: 1.66667;
	position: absolute;
	margin-top: 1em;
	margin-bottom: 1em;
	top: 0;
	left: 10%;
	width: 50%;
	background-color: whitesmoke;
}

.blurb {
	margin: 2em;
	display: block;
}

.blurb p {
	font-size: 1em;
}
.blurb h1 {
	font-family: "Source Sans Pro", serif;
	font-weight: 300;
}

a {
	font-family: "Source Sans Pro", serif;
	color: black;
	text-decoration: none;
}
a:hover {
	text-decoration: underline;
}

#backhome {
	text-align: right;
	float: right;
}

@media screen and (max-width: 1024px) {
	.blurb-wrapper {
		width: 100%;
		margin: 0;
		left: 0;
		bottom: 0;
	}
	#backhome {
		float: none;
	}
}
